/* Global Styles */

:root {
  --blue: #027bff;
  --grey: #8f9ea5;
  --black: #17191a;
  --light-grey: #e4ebef;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  vertical-align: baseline;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-weight: 400;
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
  line-height: 1.6;
  width: 60%;
  margin: auto;
}

.clearfix::after {
  content: '';
  clear: both;
  display: table;
}

h1 {
  font-size: 40px;
  font-weight: 400;
  color: #17191a;
}
h2 {
  font-size: 35px;
  font-weight: 400;
  color: #17191a;
}
h5 {
  font-size: 20px;
  margin-top: 10px;
  color: #17191a;
}

p {
  color: #8f9ea5;
  opacity: 0.8;
  font-weight: 100;
  margin-top: 10px;
  font-size: 20px;
}

/* Navigation */

nav {
  display: flex;
  align-items: center;
  height: 100px;
}

.nav__brand,
.nav__icons {
  flex: 1;
}

.nav__brand .nav__item {
  font-size: 16px;
}

.nav__icons {
  text-align: right;
}

.nav__icons .nav__item,
.nav__icons,
.nav__logo-contact {
  display: inline-block;
  vertical-align: middle;
}

.nav__icons .nav__item {
  margin-left: 40px;
}

.nav__brand .nav__item {
  color: #027bff;
  text-decoration: none;
}

.nav__logo-contact {
  margin-right: 10px;
}

/* utility */
.color-blue {
  color: var(--blue);
}

/* intro */

.intro {
  height: 100vh;
  position: relative;
}

.intro__wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}

.intro__left-list {
  list-style: none;
  margin-top: 30px;
  line-height: 30px;
}

.intro__left {
  margin-top: 4em;
}

.scroll {
  position: absolute;
  bottom: 220px;
  left: 0;
  right: 0;
  margin: auto;
}

/* Skills */
.skills {
  text-align: center;
  margin-bottom: 20em;
}

.skills .skills__details {
  margin-bottom: 30px;
}

.skills__set-image {
  width: 80px;
  margin: 0 25px;
}

/* Work */

.work {
  width: 100%;
  position: relative;
  margin-bottom: 20em;
}

.work > .work__title {
  position: absolute;
  top: 85px;
}

.work > .work__title > .work__underline {
  display: block;
  background-color: var(--blue);
  height: 3px;
  width: 61px;
  margin-top: 10px;
}

.work__link {
  text-decoration: none;
}

.work > .work__image {
  width: 85%;
  float: right;
  box-shadow: 0px 3px 70px 0px rgba(23, 30, 36, 0.06);
}

.work .work__location {
  position: absolute;
  bottom: 0;
  right: 90%;
}

.work__location-image {
  width: 40px;
}

.work__location-item {
  margin-top: 20px;
  list-style: none;
}
/* Work flip */

.workflip {
  width: 100%;
  position: relative;
  margin-bottom: 20em;
}

.workflip > .workflip__title {
  position: absolute;
  top: 85px;
  right: 0;
  text-align: right;
}

.workflip > .workflip__title > .workflip__underline {
  display: block;
  background-color: var(--blue);
  height: 3px;
  width: 61px;
  margin-top: 10px;
  float: right;
}

.workflip__link {
  text-decoration: none;
}

.workflip > .workflip__image {
  width: 80%;
  float: left;
  box-shadow: 0px 3px 70px 0px rgba(23, 30, 36, 0.06);
}

.workflip .workflip__location {
  position: absolute;
  bottom: 0;
  left: 82%;
}

.workflip__location-image {
  width: 40px;
}

.workflip__location-item {
  margin-top: 20px;
  list-style: none;
}

/* footer */

.footer {
  text-align: center;
  background-image: url(assets/footer.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 7em;
}

.footer__link {
  text-decoration: none;
  font-size: 20px;
  color: var(--blue);
}

.footer__underline {
  display: block;
  height: 3px;
  width: 50px;
  margin: 5px auto 0 auto;
  background-color: var(--blue);
}
